// begin::Menu 2
html
  head
  body
    .menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-bold.w-200px(data-kt-menu='true')
      // begin::Menu item
      .menu-item.px-3
        .menu-content.fs-6.text-dark.fw-bolder.px-3.py-4 Quick Actions
      // end::Menu item
      // begin::Menu separator
      .separator.mb-3.opacity-75
      // end::Menu separator
      // begin::Menu item
      .menu-item.px-3
        a.menu-link.px-3(href='#') New Ticket
      // end::Menu item
      // begin::Menu item
      .menu-item.px-3
        a.menu-link.px-3(href='#') New Customer
      // end::Menu item
      // begin::Menu item
      .menu-item.px-3(data-kt-menu-trigger='hover', data-kt-menu-placement='right-start')
        // begin::Menu item
        a.menu-link.px-3(href='#')
          span.menu-title New Group
          span.menu-arrow
        // end::Menu item
        // begin::Menu sub
        .menu-sub.menu-sub-dropdown.w-175px.py-4
          // begin::Menu item
          .menu-item.px-3
            a.menu-link.px-3(href='#') Admin Group
          // end::Menu item
          // begin::Menu item
          .menu-item.px-3
            a.menu-link.px-3(href='#') Staff Group
          // end::Menu item
          // begin::Menu item
          .menu-item.px-3
            a.menu-link.px-3(href='#') Member Group
          // end::Menu item
        // end::Menu sub
      // end::Menu item
      // begin::Menu item
      .menu-item.px-3
        a.menu-link.px-3(href='#') New Contact
      // end::Menu item
      // begin::Menu separator
      .separator.mt-3.opacity-75
      // end::Menu separator
      // begin::Menu item
      .menu-item.px-3
        .menu-content.px-3.py-3
          a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
      // end::Menu item
    // end::Menu 2