// begin::Mixed Widget 3
html
  head
  body
    .card.card-xl-stretch.mb-xl-8
      // begin::Beader
      .card-header.border-0.py-5
        h3.card-title.align-items-start.flex-column
          span.card-label.fw-bolder.fs-3.mb-1 Sales Overview
          span.text-muted.fw-bold.fs-7 Recent sales statistics
        .card-toolbar
          // begin::Menu
          button.btn.btn-sm.btn-icon.btn-color-primary.btn-active-light-primary(type='button', data-kt-menu-trigger='click', data-kt-menu-placement='bottom-end')
            // begin::Svg Icon | path: icons/duotune/general/gen024.svg
            span.svg-icon.svg-icon-2
              svg(xmlns='http://www.w3.org/2000/svg', width='24px', height='24px', viewBox='0 0 24 24')
                g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  rect(x='5', y='5', width='5', height='5', rx='1', fill='#000000')
                  rect(x='14', y='5', width='5', height='5', rx='1', fill='#000000', opacity='0.3')
                  rect(x='5', y='14', width='5', height='5', rx='1', fill='#000000', opacity='0.3')
                  rect(x='14', y='14', width='5', height='5', rx='1', fill='#000000', opacity='0.3')
            // end::Svg Icon
          // begin::Menu 1
          .menu.menu-sub.menu-sub-dropdown.w-250px.w-md-300px#kt_menu_616b4604e7731(data-kt-menu='true')
            // begin::Header
            .px-7.py-5
              .fs-5.text-dark.fw-bolder Filter Options
            // end::Header
            // begin::Menu separator
            .separator.border-gray-200
            // end::Menu separator
            // begin::Form
            .px-7.py-5
              // begin::Input group
              .mb-10
                // begin::Label
                label.form-label.fw-bold Status:
                // end::Label
                // begin::Input
                div
                  select.form-select.form-select-solid(data-kt-select2='true', data-placeholder='Select option', data-dropdown-parent='#kt_menu_616b4604e7731', data-allow-clear='true')
                    option
                    option(value='1') Approved
                    option(value='2') Pending
                    option(value='2') In Process
                    option(value='2') Rejected
                // end::Input
              // end::Input group
              // begin::Input group
              .mb-10
                // begin::Label
                label.form-label.fw-bold Member Type:
                // end::Label
                // begin::Options
                .d-flex
                  // begin::Options
                  label.form-check.form-check-sm.form-check-custom.form-check-solid.me-5
                    input.form-check-input(type='checkbox', value='1')
                    span.form-check-label Author
                  // end::Options
                  // begin::Options
                  label.form-check.form-check-sm.form-check-custom.form-check-solid
                    input.form-check-input(type='checkbox', value='2', checked)
                    span.form-check-label Customer
                  // end::Options
                // end::Options
              // end::Input group
              // begin::Input group
              .mb-10
                // begin::Label
                label.form-label.fw-bold Notifications:
                // end::Label
                // begin::Switch
                .form-check.form-switch.form-switch-sm.form-check-custom.form-check-solid
                  input.form-check-input(type='checkbox', name='notifications', checked)
                  label.form-check-label Enabled
                // end::Switch
              // end::Input group
              // begin::Actions
              .d-flex.justify-content-end
                button.btn.btn-sm.btn-light.btn-active-light-primary.me-2(type='reset', data-kt-menu-dismiss='true') Reset
                button.btn.btn-sm.btn-primary(type='submit', data-kt-menu-dismiss='true') Apply
              // end::Actions
            // end::Form
          // end::Menu 1
          // end::Menu
      // end::Header
      // begin::Body
      .card-body.p-0.d-flex.flex-column
        // begin::Stats
        .card-p.pt-5.bg-body.flex-grow-1
          // begin::Row
          .row.g-0
            // begin::Col
            .col.mr-8
              // begin::Label
              .fs-7.text-muted.fw-bold Average Sale
              // end::Label
              // begin::Stat
              .d-flex.align-items-center
                .fs-4.fw-bolder $650
                // begin::Svg Icon | path: icons/duotune/arrows/arr066.svg
                span.svg-icon.svg-icon-5.svg-icon-success.ms-1
                  svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', fill='none')
                    rect(opacity='0.5', x='13', y='6', width='13', height='2', rx='1', transform='rotate(90 13 6)', fill='black')
                    path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z', fill='black')
                // end::Svg Icon
              // end::Stat
            // end::Col
            // begin::Col
            .col
              // begin::Label
              .fs-7.text-muted.fw-bold Commission
              // end::Label
              // begin::Stat
              .fs-4.fw-bolder $233,600
              // end::Stat
            // end::Col
          // end::Row
          // begin::Row
          .row.g-0.mt-8
            // begin::Col
            .col.mr-8
              // begin::Label
              .fs-7.text-muted.fw-bold Annual Taxes 2019
              // end::Label
              // begin::Stat
              .fs-4.fw-bolder $29,004
              // end::Stat
            // end::Col
            // begin::Col
            .col
              // begin::Label
              .fs-7.text-muted.fw-bold Annual Income
              // end::Label
              // begin::Stat
              .d-flex.align-items-center
                .fs-4.fw-bolder $1,480,00
                // begin::Svg Icon | path: icons/duotune/arrows/arr065.svg
                span.svg-icon.svg-icon-5.svg-icon-danger.ms-1
                  svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', fill='none')
                    rect(opacity='0.5', x='11', y='18', width='13', height='2', rx='1', transform='rotate(-90 11 18)', fill='black')
                    path(d='M11.4343 15.4343L7.25 11.25C6.83579 10.8358 6.16421 10.8358 5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75L11.2929 18.2929C11.6834 18.6834 12.3166 18.6834 12.7071 18.2929L18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25C17.8358 10.8358 17.1642 10.8358 16.75 11.25L12.5657 15.4343C12.2533 15.7467 11.7467 15.7467 11.4343 15.4343Z', fill='black')
                // end::Svg Icon
              // end::Stat
            // end::Col
          // end::Row
        // end::Stats
        // begin::Chart
        .mixed-widget-3-chart.card-rounded-bottom(data-kt-chart-color='primary', style='height: 150px')
        // end::Chart
      // end::Body
    // end::Mixed Widget 3