// begin::Step 5
html
  head
  body
    div(data-kt-stepper-element='content')
      .w-100.text-center
        // begin::Heading
        h1.fw-bolder.text-dark.mb-3 Release!
        // end::Heading
        // begin::Description
        .text-muted.fw-bold.fs-3 Submit your app to kickstart your project.
        // end::Description
        // begin::Illustration
        .text-center.px-4.py-15
          img.mw-100.mh-300px(src='assets/media/illustrations/unitedpalms-1/9.png', alt)
        // end::Illustration
    // end::Step 5