// begin::List Widget 9
html
  head
  body
    .card.card-xxl-stretch
      // begin::Body
      .card-body.pt-5
        // begin::Item
        .d-flex.mb-7
          // begin::Symbol
          .symbol.symbol-60px.symbol-2by3.flex-shrink-0.me-4
            img.mw-100(src='assets/media/stock/600x400/img-3.jpg', alt)
          // end::Symbol
          // begin::Section
          .d-flex.align-items-center.flex-wrap.flex-grow-1.mt-n2.mt-lg-n1
            // begin::Title
            .d-flex.flex-column.flex-grow-1.my-lg-0.my-2.pe-3
              a.fs-5.text-gray-800.text-hover-primary.fw-bolder(href='#') Cup & Green
              span.text-gray-400.fw-bold.fs-7.my-1 Study highway types
              span.text-gray-400.fw-bold.fs-7
                | By:

                a.text-primary.fw-bold(href='#') CoreAd
            // end::Title
            // begin::Info
            .text-end.py-lg-0.py-2
              span.text-gray-800.fw-boldest.fs-3 24,900
              span.text-gray-400.fs-7.fw-bold.d-block Sales
            // end::Info
          // end::Section
        // end::Item
        // begin::Item
        .d-flex.mb-7
          // begin::Symbol
          .symbol.symbol-60px.symbol-2by3.flex-shrink-0.me-4
            img.mw-100(src='assets/media/stock/600x400/img-4.jpg', alt)
          // end::Symbol
          // begin::Section
          .d-flex.align-items-center.flex-wrap.flex-grow-1.mt-n2.mt-lg-n1
            // begin::Title
            .d-flex.flex-column.flex-grow-1.my-lg-0.my-2.pe-3
              a.fs-5.text-gray-800.text-hover-primary.fw-bolder(href='#') Yellow Hearts
              span.text-gray-400.fw-bold.fs-7.my-1 Study highway types
              span.text-gray-400.fw-bold.fs-7
                | By:

                a.text-primary.fw-bold(href='#') KeenThemes
            // end::Title
            // begin::Info
            .text-end.py-lg-0.py-2
              span.text-gray-800.fw-boldest.fs-3 70,380
              span.text-gray-400.fs-7.fw-bold.d-block Sales
            // end::Info
          // end::Section
        // end::Item
        // begin::Item
        .d-flex.mb-7
          // begin::Symbol
          .symbol.symbol-60px.symbol-2by3.flex-shrink-0.me-4
            img.mw-100(src='assets/media/stock/600x400/img-5.jpg', alt)
          // end::Symbol
          // begin::Section
          .d-flex.align-items-center.flex-wrap.flex-grow-1.mt-n2.mt-lg-n1
            // begin::Title
            .d-flex.flex-column.flex-grow-1.my-lg-0.my-2.pe-3
              a.fs-5.text-gray-800.text-hover-primary.fw-bolder(href='#') Nike & Blue
              span.text-gray-400.fw-bold.fs-7.my-1 Study highway types
              span.text-gray-400.fw-bold.fs-7
                | By:

                a.text-primary.fw-bold(href='#') Invision Inc.
            // end::Title
            // begin::Info
            .text-end.py-lg-0.py-2
              span.text-gray-800.fw-boldest.fs-3 7,200
              span.text-gray-400.fs-7.fw-bold.d-block Sales
            // end::Info
          // end::Section
        // end::Item
        // begin::Item
        .d-flex.mb-7
          // begin::Symbol
          .symbol.symbol-60px.symbol-2by3.flex-shrink-0.me-4
            img.mw-100(src='assets/media/stock/600x400/img-6.jpg', alt)
          // end::Symbol
          // begin::Section
          .d-flex.align-items-center.flex-wrap.flex-grow-1.mt-n2.mt-lg-n1
            // begin::Title
            .d-flex.flex-column.flex-grow-1.my-lg-0.my-2.pe-3
              a.fs-5.text-gray-800.text-hover-primary.fw-bolder(href='#') Red Boots
              span.text-gray-400.fw-bold.fs-7.my-1 Study highway types
              span.text-gray-400.fw-bold.fs-7
                | By:

                a.text-primary.fw-bold(href='#') Figma Studio
            // end::Title
            // begin::Info
            .text-end.py-lg-0.py-2
              span.text-gray-800.fw-boldest.fs-3 36,450
              span.text-gray-400.fs-7.fw-bold.d-block Sales
            // end::Info
          // end::Section
        // end::Item
        // begin::Item
        .d-flex
          // begin::Symbol
          .symbol.symbol-60px.symbol-2by3.flex-shrink-0.me-4
            img.mw-100(src='assets/media/stock/600x400/img-7.jpg', alt)
          // end::Symbol
          // begin::Section
          .d-flex.align-items-center.flex-wrap.flex-grow-1.mt-n2.mt-lg-n1
            // begin::Title
            .d-flex.flex-column.flex-grow-1.my-lg-0.my-2.pe-3
              a.fs-5.text-gray-800.text-hover-primary.fw-bolder(href='#') Desserts platter
              span.text-gray-400.fw-bold.fs-7.my-1 Food trends & reviews
              span.text-gray-400.fw-bold.fs-7
                | By:

                a.text-primary.fw-bold(href='#') Figma Studio
            // end::Title
            // begin::Info
            .text-end.py-lg-0.py-2
              span.text-gray-800.fw-boldest.fs-3 64,753
              span.text-gray-400.fs-7.fw-bold.d-block Sales
            // end::Info
          // end::Section
        // end::Item
      // end::Body
    // end::List Widget 9