extends layout

block layout-content
  div#kt_content_container.container-xxl
    .g-5.gx-xxl-8
      // begin::Card
      .card.mb-7
        // begin::Card body
        form.card-body(method='POST' action='/')
          // begin::Compact form
          .d-flex.align-items-center
            // begin::Input group
            .position-relative.w-20.me-md-2
              input.form-control.form-control-solid.ps-10.text-center(name='inv',type='text', value='', placeholder='Over Price')#bord-inv  
            .position-relative.w-100.me-md-2
              input.form-control.form-control-solid.ps-10.text-center(name='link',type='text', value='', placeholder='Board Link')#bord-link
            // end::Input group
            // begin:Action
            .d-flex.align-items-center
              button.btn.btn-primary(type='submit') Search
            // end:Action
          // end::Compact form
    //- .g-5.gx-xxl-8
    //-   // begin::Col
    //-   include partials/widgets/lists/_widget-9.pug
    //- //-   // end::Col
    //- .g-5.gx-xxl-8
    //-   include partials/widgets/tables/_widget-10.pug