.col-xl-3
	// begin::Statistics Widget 5
	.card.bg-danger.hoverable.mb-5
	// begin::Body
	.card-body.p-2
			.text-white.fw-bolder.fs-2.mb-2#total-items #{data.length} 
			.text-white.fw-bolder.fs-2.mt-2 Total items
	// end::Body
	// end::Statistics Widget 5
.col-xl-3
	// begin::Statistics Widget 5
	.card.bg-danger.hoverable.mb-5
	// begin::Body
	.card-body.p-2
			.text-white.fw-bolder.fs-2.mb-2#total-or-price 0
			.text-white.fw-bolder.fs-2.mt-2 Total Price as RS
	// end::Body
	// end::Statistics Widget 5
.col-xl-3
	// begin::Statistics Widget 5
	.card.bg-danger.hoverable.mb-5
	// begin::Body
	.card-body.p-2
			.text-white.fw-bolder.fs-2.mb-2#total-eg-price 0
			.text-white.fw-bolder.fs-2.mt-2 Total Price as EGP
	// end::Body
	// end::Statistics Widget 5  
.col-xl-3
	// begin::Statistics Widget 5
	.card.bg-danger.hoverable.mb-5
	// begin::Body
	.card-body.p-2
			.text-white.fw-bolder.fs-2.mb-2#total-over 0  
			.text-white.fw-bolder.fs-2.mt-2 Over Total Price  