extends layout

block layout-content
	div#kt_content_container.container-xxl
		.g-5.gx-xxl-8
			include result-widget.pug
		br
		.row.text-center.g-5.gx-xxl-8
			include result-cards.pug	
	script.
		function getpdf(){
			return new Promise(async (resolve, reject) => {
				let element = document.getElementById('kt_content_container');
				let opt = {
					margin: 1,
					filename: `${$('title').text()}-${new Date().toISOString()}.pdf`,
					image: {type: 'jpeg', quality: 0.95},
					html2canvas: {scale: 2, useCORS: true},
					jsPDF: {unit: 'in', format: 'a4', orientation: 'portrait'}
				};
				try {
					const blob = await window.html2pdf().set(opt).from(element).save();
					resolve(blob);
				} catch (e) {
					reject(e);
				}});	
			}