// begin::Modal - Select Location
html
  head
  body
    .modal.fade#kt_modal_select_location(tabindex='-1', aria-hidden='true')
      // begin::Modal dialog
      .modal-dialog.mw-1000px
        // begin::Modal content
        .modal-content
          // begin::Modal header
          .modal-header
            // begin::Title
            h2 Select Location
            // end::Title
            // begin::Close
            .btn.btn-sm.btn-icon.btn-active-color-primary(data-bs-dismiss='modal')
              // begin::Svg Icon | path: icons/duotune/arrows/arr061.svg
              span.svg-icon.svg-icon-1
                svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', fill='none')
                  rect(opacity='0.5', x='6', y='17.3137', width='16', height='2', rx='1', transform='rotate(-45 6 17.3137)', fill='black')
                  rect(x='7.41422', y='6', width='16', height='2', rx='1', transform='rotate(45 7.41422 6)', fill='black')
              // end::Svg Icon
            // end::Close
          // end::Modal header
          // begin::Modal body
          .modal-body
            #kt_modal_select_location_map.w-100.rounded(style='height:450px')
          // end::Modal body
          // begin::Modal footer
          .modal-footer.d-flex.justify-content-end
            a.btn.btn-active-light.me-5(href='#', data-bs-dismiss='modal') Cancel
            button#kt_modal_select_location_button.btn.btn-primary(type='button', data-bs-dismiss='modal') Apply
          // end::Modal footer
        // end::Modal content
      // end::Modal dialog
    // end::Modal - Select Location