// begin::Menu
html
  head
  body
    .menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg.menu-state-primary.fw-bold.py-4.fs-6.w-275px(data-kt-menu='true')
      // begin::Menu item
      .menu-item.px-3
        .menu-content.d-flex.align-items-center.px-3
          // begin::Avatar
          .symbol.symbol-50px.me-5
            img(alt='Logo', src='assets/media/avatars/150-26.jpg')
          // end::Avatar
          // begin::Username
          .d-flex.flex-column
            .fw-bolder.d-flex.align-items-center.fs-5
              | Max Smith

              span.badge.badge-light-success.fw-bolder.fs-8.px-2.py-1.ms-2 Pro
            a.fw-bold.text-muted.text-hover-primary.fs-7(href='#') max@kt.com
          // end::Username
      // end::Menu item
      // begin::Menu separator
      .separator.my-2
      // end::Menu separator
      // begin::Menu item
      .menu-item.px-5
        a.menu-link.px-5(href='?page=account/overview') My Profile
      // end::Menu item
      // begin::Menu item
      .menu-item.px-5
        a.menu-link.px-5(href='?page=pages/projects/list')
          span.menu-text My Projects
          span.menu-badge
            span.badge.badge-light-danger.badge-circle.fw-bolder.fs-7 3
      // end::Menu item
      // begin::Menu item
      .menu-item.px-5(data-kt-menu-trigger='hover', data-kt-menu-placement='left-start')
        a.menu-link.px-5(href='#')
          span.menu-title My Subscription
          span.menu-arrow
        // begin::Menu sub
        .menu-sub.menu-sub-dropdown.w-175px.py-4
          // begin::Menu item
          .menu-item.px-3
            a.menu-link.px-5(href='?page=account/referrals') Referrals
          // end::Menu item
          // begin::Menu item
          .menu-item.px-3
            a.menu-link.px-5(href='?page=account/billing') Billing
          // end::Menu item
          // begin::Menu item
          .menu-item.px-3
            a.menu-link.px-5(href='?page=account/statements') Payments
          // end::Menu item
          // begin::Menu item
          .menu-item.px-3
            a.menu-link.d-flex.flex-stack.px-5(href='?page=account/statements')
              | Statements

              i.fas.fa-exclamation-circle.ms-2.fs-7(data-bs-toggle='tooltip', title='View your statements')
          // end::Menu item
          // begin::Menu separator
          .separator.my-2
          // end::Menu separator
          // begin::Menu item
          .menu-item.px-3
            .menu-content.px-3
              label.form-check.form-switch.form-check-custom.form-check-solid
                input.form-check-input.w-30px.h-20px(type='checkbox', value='1', checked, name='notifications')
                span.form-check-label.text-muted.fs-7 Notifications
          // end::Menu item
        // end::Menu sub
      // end::Menu item
      // begin::Menu item
      .menu-item.px-5
        a.menu-link.px-5(href='?page=account/statements') My Statements
      // end::Menu item
      // begin::Menu separator
      .separator.my-2
      // end::Menu separator
      // begin::Menu item
      .menu-item.px-5(data-kt-menu-trigger='hover', data-kt-menu-placement='left-start')
        a.menu-link.px-5(href='#')
          span.menu-title.position-relative
            | Language

            span.fs-8.rounded.bg-light.px-3.py-2.position-absolute.translate-middle-y.top-50.end-0
              | English

              img.w-15px.h-15px.rounded-1.ms-2(src='assets/media/flags/united-states.svg', alt)
        // begin::Menu sub
        .menu-sub.menu-sub-dropdown.w-175px.py-4
          // begin::Menu item
          .menu-item.px-3
            a.menu-link.d-flex.px-5.active(href='?page=account/settings')
              span.symbol.symbol-20px.me-4
                img.rounded-1(src='assets/media/flags/united-states.svg', alt)
              | English
          // end::Menu item
          // begin::Menu item
          .menu-item.px-3
            a.menu-link.d-flex.px-5(href='?page=account/settings')
              span.symbol.symbol-20px.me-4
                img.rounded-1(src='assets/media/flags/spain.svg', alt)
              | Spanish
          // end::Menu item
          // begin::Menu item
          .menu-item.px-3
            a.menu-link.d-flex.px-5(href='?page=account/settings')
              span.symbol.symbol-20px.me-4
                img.rounded-1(src='assets/media/flags/germany.svg', alt)
              | German
          // end::Menu item
          // begin::Menu item
          .menu-item.px-3
            a.menu-link.d-flex.px-5(href='?page=account/settings')
              span.symbol.symbol-20px.me-4
                img.rounded-1(src='assets/media/flags/japan.svg', alt)
              | Japanese
          // end::Menu item
          // begin::Menu item
          .menu-item.px-3
            a.menu-link.d-flex.px-5(href='?page=account/settings')
              span.symbol.symbol-20px.me-4
                img.rounded-1(src='assets/media/flags/france.svg', alt)
              | French
          // end::Menu item
        // end::Menu sub
      // end::Menu item
      // begin::Menu item
      .menu-item.px-5.my-1
        a.menu-link.px-5(href='?page=account/settings') Account Settings
      // end::Menu item
      // begin::Menu item
      .menu-item.px-5
        a.menu-link.px-5(href='?page=authentication/flows/basic/sign-in') Sign Out
      // end::Menu item
      // begin::Menu separator
      .separator.my-2
      // end::Menu separator
      // begin::Menu item
      .menu-item.px-5
        .menu-content.px-5
          label.form-check.form-switch.form-check-custom.form-check-solid.pulse.pulse-success(for='kt_user_menu_dark_mode_toggle')
            input.form-check-input.w-30px.h-20px#kt_user_menu_dark_mode_toggle(type='checkbox', value='1', name='mode', data-kt-url='../../demo6/dist/?page=index&mode=dark')
            span.pulse-ring.ms-n1
            span.form-check-label.text-gray-600.fs-7 Dark Mode
      // end::Menu item
    // end::Menu