// begin::Aside
html
  head
  body
    #kt_aside.aside.pb-5.pt-5.pt-lg-0(data-kt-drawer='true', data-kt-drawer-name='aside', data-kt-drawer-activate='{default: true, lg: false}', data-kt-drawer-overlay='true', data-kt-drawer-width='{default:\'80px\', \'300px\': \'100px\'}', data-kt-drawer-direction='start', data-kt-drawer-toggle='#kt_aside_mobile_toggle')
      // begin::Brand
      .aside-logo.py-1#kt_aside_logo
        // begin::Logo
        a.d-flex.align-items-center(href='/')
          img.h-60px.logo(alt='Logo', src='assets/media/logos/shein-logo.png')
        // end::Logo
      // end::Brand
      // begin::Aside menu
      .aside-menu.flex-column-fluid#kt_aside_menu
        include _menu.pug
      // end::Aside menu
      // begin::Footer
    //-   .aside-footer.flex-column-auto#kt_aside_footer
    //-     // begin::Menu
    //-     .d-flex.justify-content-center
    //-       button.btn.btm-sm.btn-icon.btn-active-color-primary(type='button', data-kt-menu-trigger='click', data-kt-menu-overflow='true', data-kt-menu-placement='top-start', data-bs-toggle='tooltip', data-bs-placement='right', data-bs-dismiss='click', title='Quick actions')
    //-         // begin::Svg Icon | path: icons/duotune/general/gen008.svg
    //-         span.svg-icon.svg-icon-1
    //-           svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', fill='none')
    //-             path(d='M3 2H10C10.6 2 11 2.4 11 3V10C11 10.6 10.6 11 10 11H3C2.4 11 2 10.6 2 10V3C2 2.4 2.4 2 3 2Z', fill='black')
    //-             path(opacity='0.3', d='M14 2H21C21.6 2 22 2.4 22 3V10C22 10.6 21.6 11 21 11H14C13.4 11 13 10.6 13 10V3C13 2.4 13.4 2 14 2Z', fill='black')
    //-             path(opacity='0.3', d='M3 13H10C10.6 13 11 13.4 11 14V21C11 21.6 10.6 22 10 22H3C2.4 22 2 21.6 2 21V14C2 13.4 2.4 13 3 13Z', fill='black')
    //-             path(opacity='0.3', d='M14 13H21C21.6 13 22 13.4 22 14V21C22 21.6 21.6 22 21 22H14C13.4 22 13 21.6 13 21V14C13 13.4 13.4 13 14 13Z', fill='black')
    //-         // end::Svg Icon
    //-       // begin::Menu 2
    //-       .menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-bold.w-200px(data-kt-menu='true')
    //-         // begin::Menu item
    //-         .menu-item.px-3
    //-           .menu-content.fs-6.text-dark.fw-bolder.px-3.py-4 Quick Actions
    //-         // end::Menu item
    //-         // begin::Menu separator
    //-         .separator.mb-3.opacity-75
    //-         // end::Menu separator
    //-         // begin::Menu item
    //-         .menu-item.px-3
    //-           a.menu-link.px-3(href='#') New Ticket
    //-         // end::Menu item
    //-         // begin::Menu item
    //-         .menu-item.px-3
    //-           a.menu-link.px-3(href='#') New Customer
    //-         // end::Menu item
    //-         // begin::Menu item
    //-         .menu-item.px-3(data-kt-menu-trigger='hover', data-kt-menu-placement='right-start')
    //-           // begin::Menu item
    //-           a.menu-link.px-3(href='#')
    //-             span.menu-title New Group
    //-             span.menu-arrow
    //-           // end::Menu item
    //-           // begin::Menu sub
    //-           .menu-sub.menu-sub-dropdown.w-175px.py-4
    //-             // begin::Menu item
    //-             .menu-item.px-3
    //-               a.menu-link.px-3(href='#') Admin Group
    //-             // end::Menu item
    //-             // begin::Menu item
    //-             .menu-item.px-3
    //-               a.menu-link.px-3(href='#') Staff Group
    //-             // end::Menu item
    //-             // begin::Menu item
    //-             .menu-item.px-3
    //-               a.menu-link.px-3(href='#') Member Group
    //-             // end::Menu item
    //-           // end::Menu sub
    //-         // end::Menu item
    //-         // begin::Menu item
    //-         .menu-item.px-3
    //-           a.menu-link.px-3(href='#') New Contact
    //-         // end::Menu item
    //-         // begin::Menu separator
    //-         .separator.mt-3.opacity-75
    //-         // end::Menu separator
    //-         // begin::Menu item
    //-         .menu-item.px-3
    //-           .menu-content.px-3.py-3
    //-             a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
    //-         // end::Menu item
    //-       // end::Menu 2
    //-     // end::Menu
    //-   // end::Footer
    //- // end::Aside