// begin::Aside Menu
html
  head
  body
    .hover-scroll-overlay-y.my-2.my-lg-5.pe-lg-n1#kt_aside_menu_wrapper(data-kt-scroll='true', data-kt-scroll-height='auto', data-kt-scroll-dependencies='#kt_aside_logo, #kt_aside_footer', data-kt-scroll-wrappers='#kt_aside, #kt_aside_menu', data-kt-scroll-offset='5px')
      // begin::Menu
      .menu.menu-column.menu-title-gray-700.menu-state-title-primary.menu-state-icon-primary.menu-state-bullet-primary.menu-arrow-gray-500.fw-bold#kt_aside_menu(data-kt-menu='true')
        .menu-item.py-2
          a.menu-link.active.menu-center(href='/', data-bs-trigger='hover', data-bs-dismiss='click', data-bs-placement='right')
            span.menu-icon.me-0
              i.bi.bi-house.fs-2
            span.menu-title Home
        //- .menu-item.py-2(data-kt-menu-trigger='click', data-kt-menu-placement='right-start')
        //-   span.menu-link.menu-center(data-bs-trigger='hover', data-bs-dismiss='click', data-bs-placement='right')
        //-     span.menu-icon.me-0
        //-       i.bi.bi-file-earmark-lock.fs-2
        //-     span.menu-title Auth
        //-   .menu-sub.menu-sub-dropdown.w-225px.px-1.py-4
        //-     .menu-item
        //-       .menu-content
        //-         span.menu-section.fs-5.fw-bolder.ps-1.py-1 Authentication
        //-     .menu-item.menu-accordion(data-kt-menu-trigger='click')
        //-       span.menu-link
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Basic
        //-         span.menu-arrow
        //-       .menu-sub.menu-sub-accordion
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/flows/basic/sign-in')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Sign-in
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/flows/basic/sign-up')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Sign-up
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/flows/basic/two-steps')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Two-steps
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/flows/basic/password-reset')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Password Reset
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/flows/basic/new-password')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title New Password
        //-     .menu-item.menu-accordion(data-kt-menu-trigger='click')
        //-       span.menu-link
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Extended
        //-         span.menu-arrow
        //-       .menu-sub.menu-sub-accordion
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/extended/multi-steps-sign-up')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Multi-steps Sign-up
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/extended/free-trial-sign-up')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Free Trial Sign-up
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/extended/coming-soon')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Coming Soon
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/general/verify-email')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Verify Email
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/general/password-confirmation')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Password Confirmation
        //-     .menu-item.menu-accordion(data-kt-menu-trigger='{default: \'click\', lg: \'hover\'}', data-kt-menu-placement='right-start', data-kt-menu-flip='false')
        //-       span.menu-link
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title General
        //-         span.menu-arrow
        //-       .menu-sub.menu-sub-accordion.menu-sub-lg-dropdown.w-lg-225px.px-lg-1.py-lg-4
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/general/welcome')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Welcome
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/general/verify-email')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Verify Email
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/general/password-confirmation')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Password Confirmation
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/general/close-account')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Close Account
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/general/error-404')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Error 404
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/general/error-500')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Error 500
        //-     .menu-item.menu-accordion(data-kt-menu-trigger='{default: \'click\', lg: \'hover\'}', data-kt-menu-placement='right-start', data-kt-menu-flip='false')
        //-       span.menu-link
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Email
        //-         span.menu-arrow
        //-       .menu-sub.menu-sub-accordion.menu-sub-lg-dropdown.w-lg-225px.px-lg-1.py-lg-4
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/email/verify-email', target='blank')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Verify Email
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/email/password-reset', target='blank')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Password Reset
        //-         .menu-item
        //-           a.menu-link(href='?page=authentication/email/password-change', target='blank')
        //-             span.menu-bullet
        //-               span.bullet.bullet-dot
        //-             span.menu-title Password Change
        //- .menu-item.py-2(data-kt-menu-trigger='click', data-kt-menu-placement='right-start')
        //-   span.menu-link.menu-center(data-bs-trigger='hover', data-bs-dismiss='click', data-bs-placement='right')
        //-     span.menu-icon.me-0
        //-       i.bi.bi-shield-check.fs-2
        //-     span.menu-title Account
        //-   .menu-sub.menu-sub-dropdown.w-225px.px-1.py-4
        //-     .menu-item
        //-       .menu-content
        //-         span.menu-section.fs-5.fw-bolder.ps-1.py-1 Account
        //-     .menu-item
        //-       a.menu-link(href='?page=account/overview')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Overview
        //-     .menu-item
        //-       a.menu-link(href='?page=account/settings')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Settings
        //-     .menu-item
        //-       a.menu-link(href='?page=account/security')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Security
        //-     .menu-item
        //-       a.menu-link(href='?page=account/billing')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Billing
        //-     .menu-item
        //-       a.menu-link(href='?page=account/statements')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Statements
        //-     .menu-item
        //-       a.menu-link(href='?page=account/referrals')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Referrals
        //-     .menu-item
        //-       a.menu-link(href='?page=account/api-keys')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title API Keys
        //- .menu-item.py-2(data-kt-menu-trigger='click', data-kt-menu-placement='right-start')
        //-   span.menu-link.menu-center(data-bs-trigger='hover', data-bs-dismiss='click', data-bs-placement='right')
        //-     span.menu-icon.me-0
        //-       i.bi.bi-chat-square-text.fs-2
        //-     span.menu-title Chat
        //-   .menu-sub.menu-sub-dropdown.w-225px.px-1.py-4
        //-     .menu-item
        //-       .menu-content
        //-         span.menu-section.fs-5.fw-bolder.ps-1.py-1 Chat
        //-     .menu-item
        //-       a.menu-link(href='?page=apps/chat/private')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Private Chat
        //-     .menu-item
        //-       a.menu-link(href='?page=apps/chat/group')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Group Chat
        //-     .menu-item
        //-       a.menu-link(href='?page=apps/chat/drawer')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Drawer Chat
        //- .menu-item.py-2(data-kt-menu-trigger='click', data-kt-menu-placement='right-start')
        //-   span.menu-link.menu-center(data-bs-trigger='hover', data-bs-dismiss='click', data-bs-placement='right')
        //-     span.menu-icon.me-0
        //-       i.bi.bi-people.fs-2
        //-     span.menu-title Users
        //-   .menu-sub.menu-sub-dropdown.w-225px.px-1.py-4
        //-     .menu-item
        //-       .menu-content
        //-         span.menu-section.fs-5.fw-bolder.ps-1.py-1 Users
        //-     .menu-item
        //-       a.menu-link(href='?page=apps/customers/getting-started')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Getting Started
        //-     .menu-item
        //-       a.menu-link(href='?page=apps/customers/list')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Customer Listing
        //-     .menu-item
        //-       a.menu-link(href='?page=apps/customers/view')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Customer Details
        //- .menu-item.py-2(data-kt-menu-trigger='click', data-kt-menu-placement='right-start')
        //-   span.menu-link.menu-center(data-bs-trigger='hover', data-bs-dismiss='click', data-bs-placement='right')
        //-     span.menu-icon.me-0
        //-       i.bi.bi-file-text.fs-2
        //-     span.menu-title General
        //-   .menu-sub.menu-sub-dropdown.w-225px.px-1.py-4
        //-     .menu-item
        //-       .menu-content
        //-         span.menu-section.fs-5.fw-bolder.ps-1.py-1 General
        //-     .menu-item
        //-       a.menu-link(href='?page=pages/company/about')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title About Us
        //-     .menu-item
        //-       a.menu-link(href='?page=pages/company/pricing')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Pricing
        //-     .menu-item
        //-       a.menu-link(href='?page=pages/company/contact')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Contact Us
        //-     .menu-item
        //-       a.menu-link(href='?page=pages/company/team')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Our Team
        //-     .menu-item
        //-       a.menu-link(href='?page=pages/company/licenses')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Licenses
        //-     .menu-item
        //-       a.menu-link(href='?page=pages/company/sitemap')
        //-         span.menu-bullet
        //-           span.bullet.bullet-dot
        //-         span.menu-title Sitemap
        //- .menu-item.py-2(data-kt-menu-trigger='click', data-kt-menu-placement='right-start')
        //-   span.menu-link.menu-center(data-bs-trigger='hover', data-bs-dismiss='click', data-bs-placement='right')
        //-     span.menu-icon.me-0
        //-       i.bi.bi-gear.fs-2
        //-     span.menu-title More
        //-   .menu-sub.menu-sub-dropdown.w-225px.px-1.py-4
        //-     .menu-item
        //-       .menu-content
        //-         span.menu-section.fs-5.fw-bolder.ps-1.py-1 Resources
        //-     .menu-item
        //-       a.menu-link(href='?page=documentation/base/utilities', title='Check out over 200 in-house components, plugins and ready for use solutions', data-bs-toggle='tooltip', data-bs-trigger='hover', data-bs-dismiss='click', data-bs-placement='right')
        //-         span.menu-icon
        //-           i.bi.bi-grid.fs-3
        //-         span.menu-title Components
        //-     .menu-item
        //-       a.menu-link(href='?page=documentation/getting-started', title='Check out the complete documentation', data-bs-toggle='tooltip', data-bs-trigger='hover', data-bs-dismiss='click', data-bs-placement='right')
        //-         span.menu-icon
        //-           i.bi.bi-box.fs-3
        //-         span.menu-title Documentation
        //-     .menu-item
        //-       a.menu-link(href='?page=layout-builder', title='Build your layout, preview and export HTML for server side integration', data-bs-toggle='tooltip', data-bs-trigger='hover', data-bs-dismiss='click', data-bs-placement='right')
        //-         span.menu-icon
        //-           i.bi.bi-layers.fs-3
        //-         span.menu-title Layout Builder
        //-     .menu-item
        //-       a.menu-link(href='?page=documentation/getting-started/changelog')
        //-         span.menu-icon
        //-           i.bi.bi-card-text.fs-3
        //-         span.menu-title Changelog v8.0.28
      // end::Menu
    // end::Aside Menu