// begin::Toolbar
#kt_toolbar.toolbar.py-2
  // begin::Container
  #kt_toolbar_container.container-fluid.d-flex.align-items-center
    // begin::Page title
    .flex-grow-1.flex-shrink-0.me-5
      if title != 'Home'
        include _page-title.pug
    // end::Page title
  // end::Container
// end::Toolbar
