// begin::Main
// begin::Root
block variables
html
  head
  body
    .d-flex.flex-column.flex-root
      // begin::Page
      .page.d-flex.flex-row.flex-column-fluid
        //include aside/_base.pug
        // begin::Wrapper
        .wrapper.d-flex.flex-column.flex-row-fluid#kt_wrapper
          include header/_base.pug
          include _toolbar.pug
          // begin::Content
          .content.d-flex.flex-column.flex-column-fluid#kt_content
            //include _content.pug
            block layout-content
          // end::Content
          include _footer.pug
        // end::Wrapper
      // end::Page
    // end::Root
    // begin::Drawers
    //include topbar/partials/_activity-drawer.pug
    //include explore/_main.pug
    // end::Drawers
    // begin::Modals
    // end::Modals
    include _scrolltop.pug
    // end::Main