// begin:Row
html
  head
  body
    .row(data-kt-menu-dismiss='true')
      // begin:Col
      .col-lg-4.border-left-lg-1
        .menu-inline.menu-column.menu-active-bg
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
      // end:Col
      // begin:Col
      .col-lg-4.border-left-lg-1
        .menu-inline.menu-column.menu-active-bg
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
      // end:Col
      // begin:Col
      .col-lg-4.border-left-lg-1
        .menu-inline.menu-column.menu-active-bg
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
          .menu-item
            a.menu-link(href='#')
              span.menu-bullet
                span.bullet.bullet-dot
              span.menu-title Example link
      // end:Col
    // end:Row